#img { 
    height: 200px ;
    width : 250px;
    margin-left: 2vw;
    margin-top: 10vh;
}

#container { 
     display: flex;

}

#box-container { 
    display: grid;
    margin-left: 2vw;
}

#btn { 
    margin-left: 32vw;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

#footer { 
    margin-left: 8vw;
    margin-right: 4vw;
}

h2 { 
    padding: 0;
    margin: 0;
    
}